.bg-image-background {
    background-image: url('/assets/image/background-photo.png'); /* Note the leading slash */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
